<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.text_field :due_date, :class => 'datepicker' %>
  </div>
  <div class="field">
    <%= f.label :completed %><br>
    <%= f.text_field :completed, :class => 'datepicker' %>
  </div>
  <div class="field">
    <%= f.label :tool %><br>
    <%= f.text_field :tool %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
