<h1>Service Tickets</h1>

<table id="service_table" class="table pretty" border='0'>
  <thead>
    <tr>
      <th class="sortable">Name</th>
      <th class="sortable">Type</th>
      <th class="sortable">Due date</th>
      <th class="sortable">Completed</th>
      <th class="sortable">Tool</th>
      <th><i class="icon-search"></i></th>
      <th><i class="icon-edit"></i></th>
      <th><i class="icon-trash"></i></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.service_type.name %></td>
        <td><%= service.due_date %></td>
        <td><%= service.completed %></td>
        <td><%= link_to "#{service.tool.category.name.singularize} / #{service.tool.serial}", tool_path(service.tool.id) %></td>
        <td><%= link_to 'Show', tool_service_path(service.tool.id, service.id) %></td>
        <td><%= link_to 'Edit', edit_tool_service_path(service.tool.id, service.id) %></td>
        <td><%= link_to 'Destroy', tool_service_path(service.tool.id, service.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
    $(document).ready(function() {
        table_sorter( "#service_table").sort(0).hover();
    })
</script>
<br>


