<h1>Service Tickets</h1>

<table class="table table-striped" border='1' cellpadding='10'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Due date</th>
      <th>Completed</th>
      <th>Tool</th>
      <th><i class="icon-search"></i></th>
      <th><i class="icon-edit"></i></th>
      <th><i class="icon-trash"></i></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.service_type.name %></td>
        <td><%= service.due_date %></td>
        <td><%= service.completed %></td>
        <td><%= link_to "#{service.tool.category.name.singularize} / #{service.tool.serial}", tool_path(service.tool.id) %></td>
        <td><%= link_to 'Show', tool_service_path(service.tool.id, service.id) %></td>
        <td><%= link_to 'Edit', edit_tool_service_path(service.tool.id, service.id) %></td>
        <td><%= link_to 'Destroy', tool_service_path(service.tool.id, service.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


