
<p>
  <strong>Type:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @service.due_date %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @service.completed %>
</p>

<p>
  <strong>Tool:</strong>
  <%= @service.tool.category.name.singularize + '/' + @service.tool.serial %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @service.note %>
</p>

<%= link_to 'Edit', edit_tool_service_path %> |
<%= link_to 'Back', services_path %>    |
