<%= simple_form_for(@tool)  do |f| %>
  <% if @tool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tool.errors.count, "error") %> prohibited this tool from being saved:</h2>

      <ul>
      <% @tool.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>

    <%= f.input :serial %>

    <%= f.input :location %>

    <%= f.input :purchased %>

    <%= f.input :put_in_service %>

    <%= f.input :cost %>

    <%= f.input :value %>

    <%= f.input :in_service %>

    <%= f.input :retired %>

    <%= f.submit %>


<% end %>
