    <%= form_for(@tool, :html => { :class => 'form-horizontal' 'autocomplete=off' } )  do |f| %>
      <% if @tool.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@tool.errors.count, 'error') %> prohibited this tool from being saved:</h2>

          <ul>
          <% @tool.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <div class="form-inline">
          <%= f.label :serial %>
          <%= f.text_field :serial %>
        </div>
        <br>
        <div class="form-inline">
          <%= f.label 'Type' %>
          <%= f.select :category_id,  @form_menus[:categories] %>
        </div>
        <br>
        <div class="form-inline">
          <%= f.label :model %>
          <%= f.text_field :model, 'data-provide' => 'typeahead', 'data-source' => @form_menus[:model_list] %>

        </div>
        <br>
        <div class="form-inline">
          <%= f.label :location %>
          <%= f.select :location_id, @form_menus[:locations] %>
        </div>
        <br>
        <div class="form-inline" >
          <%= f.label :purchased %>
          <%= f.text_field :purchased, 'data-behaviour' => 'datepicker'  %>
        </div>
        <br>
        <div class="form-inline" >
          <%= f.label :put_in_service %>
          <%= f.text_field :put_in_service, 'data-behaviour' => 'datepicker' %>
        </div>
        <br>
        <div class="form-inline">
          <%= f.label :cost %>
          <%= f.text_field :cost %>
        </div>
        <br>
        <div class="form-inline">
          <%= f.label :value %>
          <%= f.text_field :value %>
        </div>
        <br>
        <div class="field">
          <%= f.check_box :in_service %>
          <%= f.label :in_service, 'Currently In Service', :class => 'checkbox inline' %>
        </div>
        <br>
        <div class="field">
          <%= f.check_box :loaner %>
          <%= f.label :loaner, 'This is a loaner tool', :class => 'checkbox inline' %>
        </div>
        <br>
        <div class="form-inline" >
          <%= f.label :retired, 'Date Retired' %>
          <%= f.text_field :retired, 'data-behaviour' => 'datepicker' %>
        </div>
        <br>
        <div class="form-inline">
          <%= f.label :condition %>
          <%= f.select(:condition, [['5',5],['4',4],['3',3],['2',2],['1',1]] ) %>
        </div>
        <br>
        <div class="form-inline ">
          <%= f.label :note %>
          <%= f.text_area :note %>
        </div>
        <br>

        <%= f.submit %>

    <% end %>
