<table class="table table-striped" border='1' cellpadding='10'>
  <thead>
  <tr>
    <th>Service Tickets</th>
    <th> <%= link_to "New Service Ticket", new_tool_service_path(@tool.id), :class => 'btn btn-small' %> </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <th>Type</th>
    <th>Due date</th>
    <th>Completed</th>
    <th>Tool</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @tool.services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.due_date %></td>
        <td><%= service.completed %></td>
        <td><%= service.tool.name + "/" + service.tool.serial %></td>
        <td><%= link_to 'Edit', edit_tool_service_path(:tool_id => service.tool_id, :id => service.id), :class => 'btn btn-small' %></td>
      </tr>
  <% end %>
  </tbody>
</table>