<% button_link = "#{@tool.location.name}-#{@tool.category.name.singularize}"+'<br>'+" #{@tool.serial}" %>
<% status_link = @tool.in_service ? 'Put Out of Service' : 'Put In Service' %>
<a class="btn custombutton dropdown-toggle <%= btn_color(@tool) %>" data-toggle="dropdown" href="#"  >
  <%=  raw(button_link) %><i class='icon-drop-down icon-white' > </i>
</a>
<ul class="dropdown-menu">
  <li><%= link_to status_link, toggle_in_service_path(:id => @tool.id), :method => :post, :remote => true %></li>
  <li><%= link_to 'view Details', tool_path(@tool.id) %></li>
  <li><%= link_to 'Tool Report', "tools/tool_report?id=#{@tool.id}", :target => '_blank' %></li>
  <li>Serial: <%= @tool.serial %></li>
  <li>Condition: <%= @tool.condition %></li>
</ul>