 <div class="tabbable" style="margin-bottom: 18px;">
  <ul class="nav nav-tabs">

    <% @categories.each do |category| %>
      <% tabnum = @categories.index("#{category}") %>
        <li <%= tabnum == 0 ? 'class=active' : '' %> data-tabNumber="<%= tabnum %>">
          <a href="#<%= tabnum %>" data-toggle="tab"><%= "#{category}" %></a>
        </li>

    <% end %>
  </ul>

  <div class="tab-content">

    <% @categories.each do |category| %>
        <% tabnum = @categories.index("#{category}") %>
        <div class="tab-pane  <%= tabnum == 0 ? 'active' : '' %>"   id="<%= tabnum %>">
            <table id="table<%= tabnum %>" class="table pretty" border='0' >
              <thead>
              <th class="sortable sorted-asc">Serial</th>
              <th class="sortable">Type</th>
              <th class="sortable">Model</th>
              <th class="sortable">Location</th>
              <th class="sortable">In Service</th>
              <th class="sortable">Retired</th>
              <th class="sortable">Condition</th>

              </thead>

              <tbody>
              <% @tools.each do |tool| %>
                <% if (tool.name == category) || (category == 'all') %>
                  <tr >
                    <td><%= link_to tool.serial, tool, :class => 'btn btn-small' %></td>
                    <td><%= tool.name.singularize %></td>
                    <td><%= tool.model %></td>
                    <td><%= tool.location %></td>
                    <td><%= tool.in_service %></td>
                    <td><%= tool.retired %></td>
                    <td><%= tool.condition %></td>
                  </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
        </div>
      <script>
          $(document).ready(function() {
              table_sorter( "#table<%= tabnum %>" ).hover().filter( '#filter1' );
          })
      </script>
    <% end %>
  </div>

</div>
