 <div class="tabbable" style="margin-bottom: 18px;">
  <ul class="nav nav-tabs">

    <% active = 'active' %>
    <% @categories.each do |category| %>
      <% tabnum = @categories.index("#{category}") %>
        <li class="<%= "#{active}" %>">
          <a href="#<%= tabnum %>" data-toggle="tab"><%= "#{category}" %></a>
        </li>
        <% active = '' %>
    <% end %>
  </ul>

  <div class="tab-content">
    <% active = 'active' %>
    <% @categories.each do |category| %>
        <% tabnum = @categories.index("#{category}") %>
        <div class="tab-pane <%= "#{active}" %>" id="<%= "#{tabnum}" %>">
            <table class="table pretty" border='1' cellpadding='10'>
              <thead>

              <%= sortable 'serial', 'Serial' %>
              <%= sortable 'name', 'Type' %>
              <%= sortable 'station', 'Station' %>
              <%= sortable 'apparatus', 'Apparatus' %>
              <%= sortable 'purchased', 'Purchased' %>
              <%= sortable 'put_in_service', 'Put in Service' %>
              <%= sortable 'in_service', 'In Service' %>
              <%= sortable 'retired', 'Retired' %>
              <%= sortable 'condition', 'Condition' %>

              </thead>

              <tbody>
              <% @tools.each do |tool| %>
                <% if tool.name == category %>
                  <tr >
                    <td><%= link_to tool.serial, tool, :class => 'btn btn-small' %></td>
                    <td><%= tool.name %></td>
                    <td><%= tool.station %></td>
                    <td><%= tool.apparatus %></td>
                    <td><%= tool.purchased %></td>
                    <td><%= tool.put_in_service %></td>
                    <td><%= tool.in_service %></td>
                    <td><%= tool.retired %></td>
                    <td><%= tool.condition %></td>
                  </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
        </div>
        <% active = '' %>
    <% end %>
  </div>
</div>
