
 <div class="tabbable" style="margin-bottom: 18px;">
  <ul class="nav nav-tabs">

    <% @categories.each do |category| %>
      <% tabnum = @categories.index("#{category}") %>
        <li <%= tabnum == 0 ? 'class=active' : '' %> data-tabNumber="<%= tabnum %>">
          <a href="#<%= tabnum %>" data-toggle="tab"><%= "#{category} #{tool_count(tabnum)}" %></a>
        </li>

    <% end %>
  </ul>

  <div class="tab-content">

    <% @categories.each do |cat| %>
        <% tabnum = @categories.index("#{cat}") %>
        <div class="tab-pane  <%= tabnum == 0 ? 'active' : '' %>"   id="<%= tabnum %>">
            <table id="table<%= tabnum %>" class="table" border='0'>
              <thead>
              <tr>
              <th class="sortable">Serial<%= %></th>
              <th class="sortable">Type</th>
              <th class="sortable">Model</th>
              <th class="sortable">Location</th>
              <th class="sortable">In Service</th>
              <th class="sortable">Retired</th>
              <th class="sortable">Condition</th>
              </tr>
              </thead>

              <tbody>
              <% @tools.each do |tool| %>

                <% if (tool.category.name == cat) || (cat == 'all') %>
                  <tr >
                    <td><%= link_to tool.serial, tool, :class => "btn btn-small #{btn_color(tool)}" %></td>
                    <td><%= tool.category.name.singularize %></td>
                    <td><%= tool.model %></td>
                    <td><%= tool.location.name %></td>
                    <td><%= tool.in_service %></td>
                    <td><%= tool.retired %></td>
                    <td><%= tool.condition %></td>
                  </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
        </div>
      <script>
          $(document).ready(function() {
              table_sorter( "#table<%= tabnum %>").sort(0).hover().filter( '#filter1' );
          })
      </script>
    <% end %>
  </div>

</div>
