<h1>KFD Equipment</h1>

<table border='1' cellpadding='10'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Serial</th>
      <th>Location</th>
      <th>Purchased</th>
      <th>Put in service</th>
      <th>Cost</th>
      <th>Value</th>
      <th>In service</th>
      <th>Retired</th>
    </tr>
  </thead>

  <tbody>
    <% @tools.each do |tool| %>
      <tr class="<%= cycle("odd", "even") %>" >
        <td><%= link_to tool.name, tool, :class => 'btn btn-small' %></td>
        <td><%= tool.serial %></td>
        <td><%= tool.location %></td>
        <td><%= tool.purchased %></td>
        <td><%= tool.put_in_service %></td>
        <td><%= tool.cost %></td>
        <td><%= tool.value %></td>
        <td><%= tool.in_service %></td>
        <td><%= tool.retired %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment', new_tool_path, :class => 'btn btn-success' %>
