<h1>KFD Equipment</h1>

<table class="table table-striped" border='1' cellpadding='10'>
  <thead>
    <tr>
      <th><%= sortable 'name', 'Name' %></th>
      <th><%= sortable 'serial', 'Serial' %></th>
      <th><%= sortable 'location', 'Location' %></th>
      <th><%= sortable 'purchased', 'Purchased' %></th>
      <th><%= sortable 'put_in_service', 'Put in Service' %></th>
      <th><%= sortable 'cost', 'Cost' %></th>
      <th><%= sortable 'value', 'Value' %></th>
      <th><%= sortable 'in_service', 'In Service' %></th>
      <th><%= sortable 'retired', 'Retired' %></th>
      <th><%= sortable 'condition', 'Condition' %></th>
    </tr>
  </thead>

  <tbody>
    <% @tools.each do |tool| %>
      <tr >
        <td><%= link_to tool.name, tool, :class => 'btn btn-small' %></td>
        <td><%= tool.serial %></td>
        <td><%= tool.location %></td>
        <td><%= tool.purchased %></td>
        <td><%= tool.put_in_service %></td>
        <td><%= tool.cost %></td>
        <td><%= tool.value %></td>
        <td><%= tool.in_service %></td>
        <td><%= tool.retired %></td>
        <td><%= tool.condition %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Equipment', new_tool_path, :class => 'btn btn-success' %>
