
<table class="table" border='1' cellpadding='10' >
  <tr>
    <td>
        <p>
          <strong>Type:</strong>
          <%= @tool.category.name.singularize %>
        </p>

        <p>
          <strong>Serial:</strong>
          <%= @tool.serial %>
        </p>

        <p>
          <strong>Model:</strong>
          <%= @tool.model %>
        </p>

        <p>
          <strong>Location:</strong>
          <%= @tool.location.name %>
        </p>

        <p>
          <strong>Purchased:</strong>
          <%= @tool.purchased %>
        </p>

        <p>
          <strong>Put in service:</strong>
          <%= @tool.put_in_service %>
        </p>

        <p>
          <strong>Cost:</strong>
          <%= @tool.cost %>
        </p>

        <p>
          <strong>Value:</strong>
          <%= @tool.value %>
        </p>

        <p>
          <strong>Status:</strong>
          <button class= "btn <%= btn_color(@tool) %>">
          <%= @tool.in_service ? "In Service" : "Out of Service" %>
          </button>
        </p>

        <p>
          <strong>Loaner Tool?:</strong>
          <button class= "btn <%= btn_color(@tool) %>">
          <%= @tool.loaner ? "Yes" : "No" %>
          </button>
        </p>

        <p>
          <strong>Retired:</strong>
          <%= @tool.retired %>
        </p>
        <p>
          <strong>Condition:</strong>
          <%= @tool.condition %>
        </p>
        <p>
          <strong>Annual Service Completed:</strong>
          <%= @tool.annual_service %>
        </p>
    </td>
    <td style="vertical-align:top" style="padding-left: 30px">
      <strong>Tool Notes:</strong>
      <%= @tool.note %>
    </td>
  </tr>
  <tr>
    <td style="vertical-align:top" style="padding-left: 30px">
      Service Notes:<br>
     <% @tool.services.each do |service| %>
       <%= "#{service.created_at.to_formatted_s(:short)}: #{service.note}" %><br>
     <% end %>
    </td>
    <td>

    </td>
  </tr>
</table>


<%= render 'services' %>

<%= link_to 'Edit', edit_tool_path(@tool), :class => 'btn btn-warning' %>
<%= link_to 'Destroy', @tool, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>

    <p>
    <%= link_to raw('<i class="icon-arrow-left" ></i> ') + 'Back', tools_path, :class => 'btn btn-large' %>
    </p>
