

<center><h1>Dashboard</h1></center>
        <% btn_count = 0 %>
        <% @locations.each do |tool_location| %>
          <% /^\d+$/ =~ tool_location ? (app = 'App. ') : (app = '')%>
            <div class="row">
                 <div class="span2">
                   <div class="span1 offset4">
                       <a class="btn btn-app" href="/location/<%= tool_location %>" >
                         <%= "#{app}#{tool_location}" %>
                       </a>
                   </div>
                 </div>

                 <div class="span10" >


                    <% @dashboard[tool_location].each_slice(5) do |five_tools| %>
                       <div class="row">
                       <% five_tools.each do |tool| %>
                            <% status_link = tool.in_service ? "Put Out of Service" : "Put In Service" %>

                            <% button_link = "#{tool.location}-#{tool.name.singularize}"+'<br>'+" #{tool.serial}" %>
                            <div class="btn-group" id="btn<%= tool.id %>" >

                             <a class="btn custombutton dropdown-toggle <%= btn_color(tool) %>" data-toggle="dropdown" href="#"  >
                               <%=  raw(button_link) %>
                             </a>

                             <ul class="dropdown-menu">
                               <li><%= link_to status_link, toggle_in_service_path(:id => tool.id), :method => :post, :remote => true %></li>
                               <li><%= link_to "view Details", tool_path(tool.id) %></li>
                             </ul>
                           </div>
                           <% btn_count += 1 %>

                       <% end %>
                         <p></p>
                       </div>
                    <% end %>

                   <hr class="style-eight">

                 </div>
          </div>
        <% end %>


