<%= form_for @menu_item do |f| %>
    <% if @menu_item.errors.any? %>
        <div id="error_explanation">
          <h4 class="text-error"><%= pluralize(@menu_item.errors.count, 'error') %> prohibited this menu item from being saved:</h4>

          <ul>
            <% @menu_item.errors.full_messages.each do |msg| %>
                <h3 class="text-error"><li><%= msg %></li></h3>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-inline">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <br>
    <div class="form-inline">
      <% if @menu_item.is_a?(Category) %>
          <%= f.check_box :ann_serv %>
          <%= f.label :ann_serv, 'Counts Towards Annual Service', :class => 'checkbox inline' %>
      <% end %>
    </div>


    <br>
    <div class="actions">
      <%= f.submit :class => 'btn btn-primary', :id => 'create_menu'%>
    </div>
     <br>
    <%= link_to 'Cancel', menus_path, :class => 'btn' %>

<% end %>