<h1>Menu Item Details</h1>

<h3><% if @menu_item.respond_to? :type %>
           <% if @menu_item.type == 'Vehicle' %>
               Vehicle Name:
           <% else %>
               Station Name:
           <% end %>
       <% else %>
            Category Name:
       <% end %>
   <p>
   <%= @menu_item.name %>
   </p> </h3>
   <p>
     <% if @menu_item.is_a?(Category) %>
        <% if @menu_item.ann_serv %>
            <h4 class="text-error">Counts Towards Annual Service</h4>
        <% end %>
    <% end %>
<br>
   <h3>Items associated with this menu item:</h3>


   <% @menu_item.tools.each do |t| %>
       <h4 class="tool_list"><%= t.category.name.singularize %>-<%= t.serial %></h4>
   <% end %>


   <br>
   <br>

   <div class="span1">
     <%= link_to 'Back', menus_path, :class => 'btn btn-inverse' %>
     </div>
   <div class="span1">
   <p>
     <% case @menu_item %>
         <% when Vehicle %>
             <%= link_to 'Edit', edit_vehicle_path(@menu_item), :class => 'btn btn-warning', :id => 'edit_btn' %>
         <% when Station %>
             <%= link_to 'Edit', edit_station_path(@menu_item), :class => 'btn btn-warning', :id => 'edit_btn' %>
         <% else %>
             <%= link_to 'Edit', edit_category_path(@menu_item), :class => 'btn btn-warning', :id => 'edit_btn' %>
     <% end %>
   </div>
   <div class="span8">
     <% case @menu_item %>
         <% when Vehicle %>
            <%= link_to 'Delete', vehicle_path(@menu_item), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger', :id => 'del_btn' %>
         <% when Station %>
            <%= link_to 'Delete', station_path(@menu_item), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger', :id => 'del_btn' %>
         <% else %>
             <%= link_to 'Delete', menu_path(@menu_item), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger', :id => 'del_btn' %>
     <% end %>

     <span class="text-error">You must remove all associated tools before you can delete this menu item.</span>
   </div>


