<%= form_for(@part) do |f| %>
  <% if @part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% @part.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sku %><br>
    <%= f.text_field :sku %>
  </div>
  <div class="field">
    <%= f.label :inventory %><br>
    <%= f.text_field :inventory %>
  </div>
  <div class="field">
    <%= f.label :minimum %><br>
    <%= f.text_field :minimum %>
  </div>
  <div class="field">
    <%= f.label :maximum %><br>
    <%= f.text_field :maximum %>
  </div>
  <div> SKU Aliases for this part:
    <% @part.part_aliases.each do |part_alias| %>
          <p><%=  part_alias.sku %></p>
   <% end %>
  </div>

    <%= link_to 'New SKU Alias', {:controller => 'part_aliases', :action => 'new', :part_id => @part.id}, :popup => ['SKU Alias', 'height=300,width=600'] %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
