<%= form_for(@part, :html => { :class => 'form-horizontal' } ) do |f| %>
  <% if @part.errors.any? %>
    <div id="error_explanation">
      <h4 class="text-error"><%= pluralize(@part.errors.count, "error") %> prohibited this part from being saved:</h4>

      <ul>
      <% @part.errors.full_messages.each do |msg| %>
            <h3 class="text-error"><li><%= msg %></li></h3>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inline">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
    <br>
  <div class="form-inline">
    <%= f.label :sku %><br>
    <%= f.text_field :sku %>
  </div>
    <br>
  <div class="form-inline">
    <%= f.label :inventory %><br>
    <%= f.number_field :inventory, :value => 0 %>
  </div>
    <br>
  <div class="form-inline">
    <%= f.label :minimum %><br>
    <%= f.number_field :minimum, :value => 0 %>
  </div>
    <br>
  <div class="form-inline">
    <%= f.label :maximum %><br>
    <%= f.number_field :maximum, :value => 0 %>
  </div>
    <br>
    <div class="form-inline">
      <%= f.label :consumable %><br>
      <%= f.check_box :consumable %>
    </div>
    <br>
  <div> SKU Aliases for this part:
    <% @part.part_aliases.each do |part_alias| %>
          <br><%=  part_alias.sku %>
   <% end %>
    <br>
  </div>

    <br>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary'%>
  </div>
<% end %>
