<%= form_for @part do |f| %>
  <% if @part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% @part.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-inline">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
    <br>
  <div class="field form-inline">
    <%= f.label :sku %>
    <%= f.text_field :sku %>
  </div>
    <br>
  <div class="field form-inline">
    <%= f.label :inventory %>
    <%= f.text_field :inventory %>
  </div>
    <br>
  <div class="field form-inline">
    <%= f.label :minimum %>
    <%= f.text_field :minimum %>
  </div>
    <br>
  <div class="field form-inline">
    <%= f.label :maximum %>
    <%= f.text_field :maximum %>
  </div>
    <br>
  <div class="field form-inline">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>
    <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
