<h1>Listing parts</h1>

<h2><%= link_to "Add Parts To Inventory", "parts/add_parts.html", :class => "btn btn-success"  %>
    <%= link_to "Show Current Inventory Levels", "parts/inventory_levels", :class => "btn btn-warning" %></h2>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sku</th>
      <th># On Hand</th>
      <th>Reorder At</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td><%= part.name %></td>
        <td><%= part.sku %></td>
        <td><%= part.inventory %></td>
        <td><%= part.minimum %></td>
        <td><%= link_to 'Show', part %></td>
        <td><%= link_to 'Edit', edit_part_path(part) %></td>
        <td><%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


