<h1>Listing parts</h1>
<br>
<label for="parts_filter">Find Part</label>
<input type="text" name="parts_filter" value="" id="parts_filter">
Press the "esc" key to clear filter
<br>

<h2><%= link_to 'Create New Part', new_part_path, :class => 'btn btn-primary'  %>
    <%= link_to 'Show Current Inventory Levels', parts_inventory_levels_path, :target => '_blank', :class => 'btn btn-warning' %>
    <%= link_to 'Scan In New Inventory', new_inventory_path, :class => 'btn btn-success' %>
    <%= link_to 'Scan Out Consumables', consume_inventory_path, :class => 'btn btn-danger' %></h2>

<table id="parts_table" class="table pretty" border='0'>
  <thead>
    <tr>
      <th class="sortable">Name</th>
      <th class="sortable">Sku</th>
      <th class="sortable"># On Hand</th>
      <th class="sortable">Reorder At</th>
      <th class="sortable">Max Level</th>
      <th class="sortable">Inventory Level </th>
      <th class="sortable">Category</th>
      <th><i class="icon-search"></i> </th>
      <th><i class="icon-edit"></i></th>
      <th><i class="icon-trash"></i></th>
    </tr>
  </thead>

  <tbody>
    <% @parts.each do |part| %>

      <tr>
        <td><%= part.name %></td>
        <td><%= part.sku %>
          <% if part.alias_skus %>
          <div class="alias_sku"> <%= part.alias_skus.join('<br>').html_safe %> </div>
          <% end %>
        </td>
        <td><span class="badge <%= inventory_badge(part) %>"><%= part.inventory %></span></td>
        <td><%= part.minimum %></td>
        <td><%= part.maximum %></td>
        <td><%= inventory_indicator(part) %></td>
        <td><%= part.category %></td>
        <td><%= link_to 'Show', part_path(part) %></td>
        <td><%= link_to 'Edit', edit_part_path(part) %></td>
        <td><%= link_to 'Destroy', part_path(part), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
    $(document).ready(function() {
        table_sorter( "#parts_table").sort(0).hover().filter( '#parts_filter' );
    })
</script>
<br>