<h1>Listing parts</h1>

<h2><%= link_to 'Add Parts To Inventory', 'parts/add_parts.html', :class => 'btn btn-success'  %>
    <%= link_to 'Show Current Inventory Levels', 'parts/inventory_levels', :class => 'btn btn-warning' %></h2>


<table id="parts_table" class="table pretty" border='0'>
  <thead>
      <th class="sortable">Name</th>
      <th class="sortable">Sku</th>
      <th class="sortable"># On Hand</th>
      <th class="sortable">Reorder At</th>
      <th class="sortable">Max Level</th>
      <th class="sortable">Inventory Level </th>
      <th><i class="icon-search"></i> </th>
      <th><i class="icon-edit"></i></th>
      <th><i class="icon-trash"></i></th>
  </thead>

  <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td><%= part.name %></td>
        <td><%= part.sku %></td>
        <td><span class="badge <%= inventory_badge(part) %>"><%= part.inventory %></span></td>
        <td><%= part.minimum %></td>
        <td><%= part.maximum %></td>
        <td><%= inventory_indicator(part) %></td>
        <td><%= link_to 'Show', part %></td>
        <td><%= link_to 'Edit', edit_part_path(part) %></td>
        <td><%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
    $(document).ready(function() {
        table_sorter( "#parts_table").sort(0).hover();
    })
</script>
<br>