
<p>
  <strong>Name:</strong>
  <%= @part.name %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @part.sku %>
</p>

<p>
  <strong># On Hand:</strong>
  <%= @part.inventory %>
</p>

<p>
  <strong>Reorder At:</strong>
  <%= @part.minimum %>
</p>

<p>
  <strong>Maximum Level:</strong>
  <%= @part.maximum %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
