
<p>
  <strong>Name:</strong>
  <%= @part.name %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @part.sku %>
</p>

<p>
  <strong># On Hand:</strong>
  <%= @part.inventory %>
</p>

<p>
  <strong>Reorder At:</strong>
  <%= @part.minimum %>
</p>

<p>
  <strong>Maximum Level:</strong>
  <%= @part.maximum %>
</p>

<div> SKU Aliases for this part:
  <% @part.part_aliases.each do |part_alias| %>
      <p><%=  part_alias.sku %></p>
  <% end %>
</div>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>    |

<strong><%= link_to 'Add Another Part', new_part_path %></strong>
