
<p>
  <strong>Name:</strong>
  <%= @part.name %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @part.sku %>
</p>

<p>
  <strong># On Hand:</strong>
  <%= @part.inventory %>
</p>

<p>
  <strong>Reorder At:</strong>
  <%= @part.minimum %>
</p>

<p>
  <strong>Maximum Level:</strong>
  <%= @part.maximum %>
</p>

<p>
  <strong>Consumable?:</strong>
  <%= @part.consumable %>
</p>

<div> <strong>SKU Aliases for this part:</strong>
  <% @part.part_aliases.each do |part_alias| %>
      <br><%=  part_alias.sku %>
  <% end %>
</div>
<br>
<br>
<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>    |

<strong><%= link_to 'Add Another Part', new_part_path %></strong>
