<h3>Bug Reports, Requests, Dev Notes:</h3>
<br>

<table id="dev_log_table" class="table pretty" border='0'>
  <thead>
    <tr>
      <th class="sortable">Updated On</th>
      <th class="sortable">Note</th>
      <th class="sortable">User</th>
      <th><i class="icon-search"></i></th>
      <th><i class="icon-edit"></i></th>
      <th><i class="icon-trash"></i></th>
    </tr>
  </thead>

  <tbody>
    <% @dev_logs.each do |dev_log| %>
      <tr>
        <td><%= dev_log.updated_at.to_formatted_s(:long) %></td>
        <td><%= dev_log.note %></td>
        <td><%= dev_log.user.username %></td>
        <td><%= link_to 'Show', dev_log %></td>
        <td><%= link_to 'Edit', edit_dev_log_path(dev_log) %></td>
        <td><%= link_to 'Destroy', dev_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dev log', new_dev_log_path %>

<script>
    $(document).ready(function() {
        table_sorter( "#dev_log_table").sort(1).hover();
    })
</script>