<h1>ServiceTypes</h1>

<table id="service_types_table" class="table pretty" border='0'>
  <thead>
  <th class="sortable">Name</th>
  <th class="sortable">Hours</th>
  <th><i class="icon-search"></i> </th>
  <th><i class="icon-edit"></i></th>
  <th><i class="icon-trash"></i></th>
  </thead>

  <tbody>
  <% @service_types.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.hours %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_type_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<script>
    $(document).ready(function() {
        table_sorter( "#service_types_table").sort(0).hover();
    })
</script>
