<h3>ServiceType:</h3>

<p>
  <strong>Name:</strong>
  <%= @service_type.name %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @service_type.hours %>
</p>

<p>
  <strong>Default Parts:</strong>
    <%= @service_type.parts.pluck(:name).join(',') %>
</p>

<%= link_to 'Edit', edit_service_type_path(@service_type) %> |
<%= link_to 'Back', service_types_url %>

<p></p>
