<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :username %>
    <%= f.input :email %>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
