<h1>Add Alias for <%= @part_alias.part.name %> / <%= @part_alias.part.sku %></h1>

<p>current aliases:</p>
<% @part_alias.part.part_aliases.each do |part_alias| %>
    <%= part_alias.sku %> <%= link_to 'Delete', part_alias_path(part_alias.id), method: :delete, data: { confirm: 'Delete Alias?'} %><br>
    <% end %>


<%= form_for @part_alias do |f| %>

    <% if @part_alias.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@part_alias.errors.count, 'error') %> prohibited this tool from being saved:</h2>

          <ul>
            <% @part_alias.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
    <br>
    <div class="form-inline">
    <%= f.hidden_field :part_id %>
    <strong><%= f.label :sku %>:</strong>
    <%= f.text_field :sku %>
    </div>
    <br>
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', edit_part_path(@part_alias.part.id), {:class=>'btn btn-default'} %>
<% end %>
