<%= form_for @vehicle_locations, :url => { :action => 'update_apparatus'}, :html => {:method => :put}  do |f| %>
    <% if @vehicle_locations.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@vehicle_locations.errors.count, 'error') %> prohibited this change from being saved:</h2>

          <ul>
            <% @vehicle_locations.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
    <div class="form-inline">
      <%= f.radio_button 'delete_me', '0', :checked => true %>
      <%= label 'delete_me', 'Add Apparatus' %>
      <%= f.radio_button 'delete_me', '1' %>
      <%= label 'delete_me', 'Delete Apparatus' %>
    </div>
    <div class="field">
      <%= f.text_field :mod_apparatus %>
    </div>

    <%= f.submit %>

<% end %>