<%= form_for @add_category, :url => { :action => "update_categories"}, :html => {:method => :put}  do |f| %>

<p>
    <div class="form-inline">
      <%= f.radio_button 'delete_me', '0', :checked => true %>
      <%= label 'delete_me', 'Add Category' %>
      <%= f.radio_button 'delete_me', '1' %>
      <%= label 'delete_me', 'Delete Category' %>
    </div>
    <div class="field">
      <%= f.text_field :add_category %>
    </div>
      <%= f.submit %>

<% end %>