<%= form_for @add_station, :url => { :action => "update_stations"}, :html => {:method => :put}  do |f| %>

    <p>
    <div class="form-inline">
      <%= f.radio_button 'delete_me', '0', :checked => true %>
      <%= label 'delete_me', 'Add Station' %>
      <%= f.radio_button 'delete_me', '1' %>
      <%= label 'delete_me', 'Delete Station' %>
    </div>
    <div class="field">
      <%= f.text_field :add_station %>
    </div>
    <%= f.submit %>

<% end %>