<%= form_for @add_station, :url => { :action => "update_stations"}, :html => {:method => :put}  do |f| %>
    <% if @stations.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@stations.errors.count, "error") %> prohibited this change from being saved:</h2>

          <ul>
            <% @stations.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
    <div class="form-inline">
      <%= f.radio_button 'delete_me', '0', :checked => true %>
      <%= label 'delete_me', 'Add Station' %>
      <%= f.radio_button 'delete_me', '1' %>
      <%= label 'delete_me', 'Delete Station' %>
    </div>
    <div class="field">
      <%= f.text_field :add_station %>
    </div>
    <%= f.submit %>

<% end %>