<%= form_for @add_station, :url => { :action => "update_stations"}, :html => {:method => :put}  do |f| %>
    <% if @stations.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@stations.errors.count, "error") %> prohibited this change from being saved:</h2>

          <ul>
            <% @stations.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
    <div class="field">
      <%= f.label 'Add Station' %>
      <%= f.text_field :add_station %>
    </div>
    <div class="field">
      <%= f.check_box 'delete_me', :class => 'inline' %>
      <%= f.label :delete_flag, 'delete this station', :class => 'checkbox inline' %>
    </div>
    <%= f.submit %>

<% end %>