<%= form_for @add_apparatus, :url => { :action => "update_apparatus"}, :html => {:method => :put}  do |f| %>

    <p>
    <div class="form-inline">
      <%= f.radio_button 'delete_me', '0', :checked => true %>
      <%= label 'delete_me', 'Add Apparatus' %>
      <%= f.radio_button 'delete_me', '1' %>
      <%= label 'delete_me', 'Delete Apparatus' %>
    </div>
    <div class="field">
      <%= f.text_field :add_vehicle %>
    </div>

    <%= f.submit %>

<% end %>