<h1>Repair Tickets</h1>

<table class="table table-striped" border='1' cellpadding='10'>
  <thead>
    <tr>
      <th>Type</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Tool</th>
  </thead>


  <tbody>
    <% @repairs.each do |repair| %>
      <tr>
        <td><%= repair.name %></td>
        <td><%= repair.start_date %></td>
        <td><%= repair.end_date %></td>
        <td><%= repair.tool.name %> / <%= repair.tool.serial %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


