<!DOCTYPE html>
<html>
<head>
  <title>EquipDB</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= yield(:head) %>
</head>
<body onload="updateClock(); setInterval('updateClock()', 60000 )">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">Equipment DB</a>
      <div class="nav-collapse">
        <ul class="nav">

          <% if current_user %>
              <li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
              <li><%= link_to "Logout", :logout %></li>
              <li><%= link_to "Logged in as: " + current_user.username, edit_user_path(current_user.id) %></li>
        <% end %>

        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span4">
    <%=  yield :role_sidebar  %>
  </div>
  <div class="span8">
    <%=  yield :role_main     %>
  </div>
</div>

<div id="main" role="main">
  <div class="container-fluid">
    <%= render 'layouts/messages' %>
    <div class="content">
       <div class="row-fluid">

          <div class="span1">
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                  <li><%= link_to "Dashboard", root_path, :data_toggle => 'tab' %><li>
                  <li><%= link_to "Equipment", tools_path, :data_toggle => 'tab' %></li>
                  <li><%= link_to "Repairs", repairs_path, :data_toggle => 'tab' %></li>
                  <li><%= link_to "Service", services_path, :data_toggle => 'tab' %></li>
                  <li><%= link_to "Parts", parts_path, :data_toggle => 'tab' %></li>
                  <li><%= link_to "Reports" , :data_toggle => 'tab'%></li>
                  <li><%= link_to 'Menu Settings', drop_down_menus_path, :data_toggle => 'tab' %></li>
                </ul>
            </div>
          </div>
         <div class="span11">
            <div class="tab-content">

               <%= yield %>

            </div>
         </div>
       </div>
    </div>
  </div>
</div>

<div id="navbar navbar-fixed-bottom">
  <nav class="navbar-inner">
    <div class="container">

    </div>
  </nav>
</div>

<div class="row">
  <div class="span12">
    <span id="clock">&nbsp;</span>
  </div>
</div>

</body>
</html>
