<!DOCTYPE html>
<html>
<head>
  <title>EquipDB</title>
  <%= stylesheet_link_tag    'application', media: 'screen'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= yield(:head) %>
  <% if development? %>
      <style type="text/css">
        <% if ENV['PWD'] == '/Users/andy/rails_class/EquipDB' %>
          body {background-image:url('/localhost.png');}
        <% else %>
          body {background-image:url('/test.png');}
        <% end %>
      </style>
  <% end %>
</head>
<body>
<%= gflash %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">Equipment DB</a>
      <div class="nav-collapse">
        <ul class="nav">

          <% if current_user %>
              <li><%= link_to 'Edit Profile', edit_user_path(current_user.id) %></li>
              <li><%= link_to 'Logout', :logout %></li>
              <li><%= link_to 'Logged in as: ' + current_user.username, edit_user_path(current_user.id) %></li>
        <% end %>

        </ul>
        <ul class = "nav pull-right">
          <li><%= link_to 'Bug Report/Feature Request', dev_logs_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span2 offset1">
    <%=  yield :role_sidebar  %>
  </div>
  <div class="span9">
    <%=  yield :role_main     %>
  </div>
</div>

<div id="main" role="main">
  <div class="container-fluid">

    <div class="content">
       <div class="row-fluid">
          <div class="span1" >
            <div class="stick">
            <div class="tabbable tabs-left" >
                <ul class="nav nav-tabs">
                  <li><%= link_to 'Dashboard', root_path, :data_toggle => 'tab' %><li>
                  <li><%= link_to 'Equipment', tools_path, :data_toggle => 'tab' %></li>
                  <li><%= link_to 'Service', services_path, :data_toggle => 'tab' %></li>
                  <li><%= link_to 'Parts', parts_path, :data_toggle => 'tab' %></li>
                  <li><%= link_to 'Reports', reports_path, :data_toggle => 'tab'%></li>
                  <li><%= link_to 'Menu Settings', menus_path, :data_toggle => 'tab' %></li>
                  <li><%= link_to 'Service Types', service_types_path, :data_toggle => 'tab' %></li>
                </ul>
            </div>
            Color Key:<br>
             <H2> <span class="label label-success">In Service</span><br>
              <span class="label label-warn">Out of Service</span><br>
              <span class="label label-loaner">Loaner Tool</span><br>
             </H2>
            </div>
          </div>
         <div class="span11 offset1">
            <div class="tab-content">

               <%= yield %>

            </div>
         </div>
       </div>
    </div>
  </div>
</div>

</body>
</html>
